* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    font-size: 21px;
    max-width: 300px;
    margin: 20px;
}

input {
    max-width: 315px;
    width: 100%;
    margin-bottom: 5px;
    height: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 5px;
    row-gap: 5px;
}

.btn {
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border: 1px solid dimgray;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(216, 216, 216);
}

.result {
    height: 30px;
    width: 100%;
    border: 1px solid gray;
    margin: 15px 0;
}

